matplotlib==3.10.6 ; python_version >= "3.12"
numpy==2.3.3 ; python_version >= "3.12"
pandas==2.3.2 ; python_version >= "3.12"
scikit-learn==1.7.2 ; python_version >= "3.12"
scipy==1.16.2 ; python_version >= "3.12"
seaborn==0.13.2 ; python_version >= "3.12"p